.container {
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    background-image: url(téléchargement.jpg);
    background-size: cover;
    width: 100%;
    max-width: 500px;
    margin:0 auto;
    padding: 30px;
    
}
h2{
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 30px;
}
p{
    color: rgb(0, 0, 0);
    font-size: 30px;

}
.increment-btn{
    width: 200px;
    height: 50px;
    font-size: 30px;
    background-color: rgb(77, 21, 21);
}
.save-btn{
    width: 200px;
    height: 50px;
    font-size: 30px;
    background-color: rgb(17, 94, 46);
    margin-top:20px;
}
